@keyframes scaleUp
{
    0%   {width:0em;opacity:0.0;}
    100% {width:1em;opacity:1.0;}
}
    @keyframes scaleDown
    {
        0%   {width:0em;opacity:0.0;}
        100% {width:1em;opacity:1.0;}
    }
@keyframes xScaleUp
{
    0%   {width:0em;opacity:0.0;}
    100% {width:5em;opacity:1.0;}
}
    @keyframes xScaleDown
    {
        0%   {width:0em;opacity:0.0;}
        100% {width:5em;opacity:1.0;}
    }
@keyframes yScaleUp
{
    0%   {height:0em;opacity:0.0;}
    100% {height:2em;opacity:1.0;}
}
    @keyframes yScaleDown
    {
        0%   {height:0em;opacity:0.0;}
        100% {height:2em;opacity:1.0;}
    }