#sim
{
    border-radius:2px;
    border:1px solid lightgrey;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
#sim #modeIcon
{
    font-size:2em;
    color:deepskyblue;
}
#sim .preLabel
{
    font-size:2em;
    color:lightgrey;
    overflow: hidden;
    width:0em;
    text-align: end;
    padding:auto;
}
#titleInput, #descInput, #tagInput
{
    font-size:2em;
    color: slategrey;
    resize: none;
    flex:1;
    border:0px;
    overflow: hidden;
}
#descBar, #tagBar
{
    height:0px;
}