#sim
{
    border-radius:2px;
    border:1px solid lightgrey;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.bar
{
    /*border-bottom: 1px solid lightgray;*/
}
hr
{
    width:100%;
    border-top:0px;
    border-bottom:1px solid lightgray;
    display:none;
    animation:underlineUp 1s;
}
#sim #modeIcon
{
    font-size:2em;
    color:deepskyblue;
}
#sim .preLabel
{
    font-size:2em;
    color:lightgrey;
    overflow: hidden;
    width:0em;
    text-align: center;
}
#titleInput, #descInput, #tagInput
{
    font-size:2em;
    color: slategrey;
    resize: none;
    flex:1;
    border:0px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
    /*Отключаем дефолтное оформление в Chrome*/
    #titleInput:focus, #descInput:focus, #tagInput:focus
    {
        outline: none;
    }
#descBar, #tagBar
{
    height:0px;
}